@tailwind base;

@tailwind components;

.input {
    @apply appearance-none w-full py-2 leading-tight bg-transparent border-b border-gray-600;
}

@font-face {
    font-family: "CircularStd";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/CircularStd-Book.woff2") format("woff2");
    unicode-range: U+000-5FF, U+20AC, U+2122;
}

@font-face {
    font-family: "CircularStd";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/CircularStd-Medium.woff2") format("woff2");
    unicode-range: U+000-5FF, U+20AC, U+2122;
}

@font-face {
    font-family: "CircularStd";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/CircularStd-Bold.woff2") format("woff2");
    unicode-range: U+000-5FF, U+20AC, U+2122;
}

@keyframes loading {
    from {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.loading-line-animation {
    animation: loading 2s infinite alternate;
}
.loading-line-animation--delay-1 {
    animation-delay: 0.3s;
}
.loading-line-animation--delay-2 {
    animation-delay: 0.6s;
}

@tailwind utilities;
